---

---

<section class="border-y flex border-border-dark relative">
  <div class="border-b border-border-dark h-16 w-full">
    <svg width="100%" height="100%" aria-hidden="true"
      ><defs
        ><pattern
          viewBox="0 0 10 10"
          width="8"
          height="8"
          patternUnits="userSpaceOnUse"
          id="_r9R_g_"
          ><line
            x1="0"
            y1="10"
            x2="10"
            y2="0"
            stroke="currentColor"
            vector-effect="non-scaling-stroke"
            class="stroke-[hsl(0,0%,0%)] dark:stroke-[hsl(0,0%,30%)]"
          ></line></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#_r9R_g_)"></rect>
    </svg>
  </div>
  <div class="inner shrink-0 border-x border-border-dark p-12">
    <h2 class="sm:text-3xl text-2xl text-foreground-heading">
      Laravel Indonesia menghubungkan para pengembang dari berbagai tingkat
      pengalaman—dari yang baru mengenal <em>framework</em> ini hingga yang telah
      membangun sistem berskala besar. Di sini, diskusi teknis mendalam berpadu dengan
      suasana yang memungkinkan setiap anggota untuk bertanya, berbagi solusi, dan
      mengembangkan karir bersama.
    </h2>
  </div>
  <div class="border-b border-border-dark h-16 w-full">
    <svg width="100%" height="100%" aria-hidden="true"
      ><defs
        ><pattern
          viewBox="0 0 10 10"
          width="8"
          height="8"
          patternUnits="userSpaceOnUse"
          id="_r9R_g_"
          ><line
            x1="0"
            y1="10"
            x2="10"
            y2="0"
            stroke="currentColor"
            vector-effect="non-scaling-stroke"
            class="stroke-[hsl(0,0%,0%)] dark:stroke-[hsl(0,0%,30%)]"
          ></line></pattern
        ></defs
      ><rect width="100%" height="100%" fill="url(#_r9R_g_)"></rect>
    </svg>
  </div>
</section>
