---

---

<section class="border-y flex border-border-dark relative" id="acara">
  <div class="inner border-x border-border-dark relative flex flex-col gap-6">
    <div class="absolute inset-0">
      <svg width="100%" height="100%" aria-hidden="true"
        ><defs
          ><pattern
            viewBox="0 0 10 10"
            width="10"
            height="10"
            patternUnits="userSpaceOnUse"
            id="_r12R_6_"
            ><circle
              cx="5"
              cy="5"
              r="1"
              fill="currentColor"
              class="fill-zinc-500/50"></circle></pattern
          ></defs
        ><rect width="100%" height="100%" fill="url(#_r12R_6_)"></rect></svg
      >
    </div>
    <div class="pt-6 relative">
      <div class="flex items-center justify-between">
        <div class="h-px w-full bg-zinc-800"></div>
        <h2
          class="text-xl whitespace-nowrap font-medium border bg-background border-border-dark px-4 py-2"
        >
          Bergabung Sekarang
        </h2>
        <div class="h-px w-full bg-zinc-800"></div>
      </div>
    </div>
    <div
      class="border-x overflow-hidden border-t border-border-dark flex flex-col relative md:mx-12 mx-6 bg-linear-to-b from-50% from-[#5765f2] to-white to-0%"
    >
      <iframe
        src="https://discord.com/widget?id=1460578304477364339&theme=light"
        class="aspect-video w-full"
        allowtransparency="true"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
      ></iframe>
    </div>
  </div>
</section>
