@import "tailwindcss";

@font-face {
  font-family: "Instrument Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/instrument-sans:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@utility container {
  @apply mx-auto px-8;
}

@theme {
  --font-sans: "Instrument Sans Variable", sans-serif;

  --color-laravel: #f53103;
  --color-border: var(--color-zinc-100);
}

@layer components {
  .inner {
    @apply mx-auto w-9/10 max-w-272;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased;
  }
}
